html {
    scroll-behavior: smooth;
}

a {
    color: #262626;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    color: #0dcaf0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style:square;
    list-style-position: outside;
    padding: 0;
}

section {
    width: 100%;
}

#name {
    text-align: center;
    font-size: 500%;
}

#headshot {
    width: 40%;
}

#logo {
    height: 40%;
}

#skilllogo {
    width: 50px;
    margin: 25px;
}

/* .hamburger {
    display: block;
    position: relative;
    z-index: 1;
    user-select: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.hamburger span {
    display: flex;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #262626;
    border-radius: 6px;
    transform-origin: 0 0; 
    transition: 0.4s;
}

.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color: #0dcaf0;
}

.hamburger.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
    opacity: 0;
    transform: translate(15px);
}

.hamburger.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.hamburger.is-active:hover span {
    background-color: #0dcaf0;
} */

@media (min-width: 992px) {
    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
        margin-bottom: 12.5vh;
    }
    #experience-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    /* .hamburger {
        display: none;  
    } */

    section {
        display: flex;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 576px) {
    #skilllogos {
        display: flex;
        justify-content: space-evenly;
    }
}

@media (max-width: 992px) {
    #about {
        text-align: center;
    }

    #chapter {
        padding-top: 5rem;
    }

    #name {
        padding-left: 15px;
    }

    .nav-item {
        display: none;
    }

    #headshot {
        width: 75%;
    }
}

@media (max-width: 576px) {
    #name {
        font-size: 300%;
    }

    #skilllogos {
        text-align: center;
    }

    li:before {
        content: "–";
        padding-right: 5px;
      }
}
