@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    font-family: 'Varela Round', sans-serif;        
}

a {
    text-decoration: none;
}

ul {
    padding-left: 1.25rem;
}

img {
    width: 85%;
    border-radius: 5px;
}

#link {
    transition: 0.3s;
}

#link:hover {
    color: #0dcaf0;
    transition: 0.3s;
}

#description {
    font-size: 13px;
}

#opening {
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
}

#pull-card {
    border-radius: 10px;
}

.card-splitter {
    height: 1rem;
    position: relative;
}

.arrows {
    width: 30px;
	height: 10vh;
	position: absolute;
    margin-left: -15px;

}

.arrows path {
	stroke: #0dcaf0;
	fill: transparent;
	stroke-width: 2px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a2 {
	animation-delay:-0.25s;
	-webkit-animation-delay:-0.25s;
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

.delete-margin {
    margin: 0;
}
