.education-preview-container {
  width: 50vw;
  height: auto;
  margin-left: 25vw;
  margin-right: 25vw;
  line-height: 20px;
}

@media (max-width: 1200px) {
  .education-preview-container {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

.education-content-item {
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
}

.education-content-item-title {
  font-size: 26px;
  line-height: 30px;
  padding-bottom: 1%;
}

.certifications-item {
  display: flex;
  flex-direction: row;
}

.certifications-title {
  width: 50%;
}

.certifications-distributor {
  width: 25%;
}

.certifications-received {
  width: 25%;
  text-align: end;
}
