.experience-page-container {
  font-family: "IBM Plex Mono", monospace;
  background-color: #212121;
  color: #f5f5f5;
  width: 100vw;
  height: 95vh;
  overflow: auto;
}

.back-button {
  text-decoration: none;
  color: #f5f5f5;
  display: flex;
  position: relative; /* Hiding Arrow Under Text */
  align-items: center;
  padding-left: 2.5vw;
  cursor: pointer; /* Optional: changes the cursor on hover */
}

.back-button svg {
  position: absolute;
  opacity: 0; /* Initially hide the SVG */
  transition: opacity 0.3s ease; /* Smooth transition for the opacity change */
}

.back-button-text {
  transition: transform 0.3s ease; /* Transition for the sliding effect */
}

.back-button:hover svg {
  opacity: 1; /* Show the SVG on hover */
}

.back-button:hover .back-button-text {
  transform: translateX(25px); /* Slide the text to the right on hover */
}

.experience-page-exit {
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.experience-page-content {
  padding-left: 2.5vw; /* Edge Formatting */
  padding-right: 2.5vw; /* Edge Formatting */
  padding-bottom: 10vh;
  display: flex;
  gap: 2.5%;
}

@media (max-width: 1200px) {
  .experience-page-content {
    flex-direction: column;
  }

  .experience-page-details {
    width: 100%;
  }

  .experience-page-description {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .experience-page-content {
    flex-direction: row;
  }

  .experience-page-details {
    width: 40%;
  }

  .experience-page-description {
    width: 60%;
  }
}

.experience-page-description {
  text-align: justify;
}

.experience-page-description-item-container {
  line-height: 20px;
}

.experience-page-details-item {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none; /* Removes default bullets */
  padding-left: 0; /* Optional: Adjusts padding if needed */
}

ul li::before {
  content: "— "; /* Em dash as the bullet point */
}
