.landing-container {
  color: #e0e0e0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-bottom: 5vh;
}

.landing-title {
  font-size: 150px;
  transform: translateY(100vh);
  animation-name: riseAnimation;
  animation-delay: 0.25s;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.1, 0.1, 0.001, 1);
  animation-fill-mode: forwards;
}

@keyframes riseAnimation {
  from {
    transform: translateY(100vh); /* Start from below the screen */
  }
  to {
    transform: translateY(0); /* Move to the center */
  }
}

.scroll-container {
  position: relative;
  height: 24px; /* Adjust as needed */
  overflow: hidden;
}

.scroll-text {
  font-family: "IBM Plex Mono", monospace;
  position: absolute;
  bottom: -100%; /* Start below the container */
  width: 100%;
  font-size: 22px; /* Adjust as needed */
  font-weight: 100px;
  white-space: nowrap;
  animation: riseAndExitUp 3s cubic-bezier(0.25, 0.5, 0.25, 1) infinite;
}

.scroll-text-first {
  animation-delay: 1s; /* Half of the animation duration */
}

.scroll-text-second {
  animation-delay: 2.5s;
}

@keyframes riseAndExitUp {
  0%,
  20% {
    bottom: -100%;
  }
  40%,
  60% {
    bottom: 0;
  }
  80%,
  100% {
    bottom: 100%;
  }
}
