.discover {
  font-family: "IBM Plex Mono", monospace; /* Font Family */
  font-size: 22px; /* Font Size */
}

.landing-page-container {
  color: #f5f5f5; /* Text Color */
  background-color: #212121; /* Background Color */
  width: 100vw; /* Width */
  height: 100vh; /* Height */
  display: flex; /* Flexbox */
  /* position: absolute; */ /* Layer On Top Of MainContent */
  flex-direction: column; /* Align Vertically */
  overflow: hidden; /* Prevents Overscrolling on Landing Page */
  text-align: center; /* Center Horizontally */
  justify-content: center; /* Center Vertically */
  /* transition: transform 0.5s ease; */
  z-index: 15;
}

.landing-page-container .scroll-container {
  height: 24px; /* Height */
}

.landing-title {
  font-family: "Roboto", sans-serif; /* Font Family */
  transform: translateY(100vh); /* Start Off Screen */
  animation-name: riseAnimation; /* Rise */
  animation-delay: 0.25s; /* Animation Delay for Reload */
  animation-duration: 1s; /* Animation Duration */
  animation-timing-function: cubic-bezier(
    0.1,
    0.1,
    0.001,
    1
  ); /* Snappy Animation Curve */
  animation-fill-mode: forwards; /* Keeps Title After Animation */
}

@media (max-width: 1000px) {
  .landing-title {
    font-size: 100px;
  }
}

@media (min-width: 1000px) {
  .landing-title {
    font-size: 150px;
  }
}

@keyframes riseAnimation {
  from {
    transform: translateY(100vh); /* Start from below the screen */
  }
  to {
    transform: translateY(0); /* Move to the center */
  }
}
