.navbar-container {
  height: 5vh; /* Height */
  padding-left: 2.5vw; /* Edge Formatting */
  padding-right: 2.5vw; /* Edge Formatting */
  display: flex; /* Flexbox */
  flex-direction: row; /* Align Items Horizontally */
  justify-content: center; /* Item Spacing Evently */
  align-items: center; /* Vertical Item Centering */
  z-index: 5;
}
