.projects-preview-container {
  width: 50vw;
  height: auto;
  margin-left: 25vw;
  margin-right: 25vw;
  background-color: #212121;
}

.projects-preview-item {
  width: 95%;
  padding: 2.5%;
}

.projects-preview-item-title {
  color: #f5f5f5;
  font-size: 26px;
  padding-bottom: 2.5%;
}

.bluebox-forum-video {
  width: 100%;
}
