.title-carousel-container {
  font-family: Roboto, sans serif;
  font-size: 25vh;
  width: 100vw;
  height: fit-content;
  padding-bottom: 5vh;
  padding-top: 5vh;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 1000px) {
  .title-carousel-container {
    font-size: 15vh;
  }
}

.carousel {
  animation: slide 75s linear infinite;
}

.title-item {
  padding: 3vw;
}

@keyframes slide {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
