.app {
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.landing-page {
  background-color: gray;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
