.card {
  background-color: #e0e0e0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-sizing: border-box;
  color: #212121;
  font-family: "Varela Round", sans-serif;
  height: 100%;
  left: 0;
  -ms-overflow-style: none;
  overflow: auto;
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  scrollbar-width: none;
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transform: translateY(7.5vh);
  will-change: transform;
  width: 100%;
  z-index: 5;
}

.card::-webkit-scrollbar {
  display: none;
}

.card img {
  display: block;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.previewTitle {
  background: inherit;
  font-size: 30px;
  padding-top: 2.5vh;
  position: sticky; /* Makes the title sticky */
  top: 0; /* Stick to the top */
  z-index: 10;
}

.previewTitle:after {
  content: '';
  position: absolute;
  bottom: calc((3vh) * -1);
  left: 0;
  right: 0;
  height: 3vh; /* Height of the fade effect */
  background: linear-gradient(to top, rgba(255, 255, 255, 0), 50%, #e0e0e0); /* Fading to the content background color */
  z-index: 5;
}
