.experienceContainer {
    padding-top: 3vh;
    padding-bottom: 3vh;
    line-height: 28px;
}

.experienceTitle {
    font-size: 22px;
}

hr {
    margin-bottom: 2.5%;
    margin-top: 2.5%;
}

ul {
    padding-left: 20px;
    text-align: justify;
}