.description {
  font-family: "IM Fell English SC", serif;
  margin: 0;
}

/* .header {
  background-color: blue;
} */

.name {
  font-family: "IM Fell English SC", serif;
  font-size: 50px;
  margin-bottom: 0;
}
