.altFont {
  transition: color 0.25s;
  color: #9e9e9e;
}

.altFont:hover {
  color: #9e9e9e;
}

.navFont {
  transition: color 0.25s;
  color: #e0e0e0;
}

.navBody {
  list-style-type: none;
  padding: 0;
  width: 8rem;
}

.navBody:hover .altFont {
  color: #717171;
}

.navBody:hover .navFont {
  color: #a1a1a1;
}

.navContainer {
  /* background-color: blue; */
  overflow: hidden;
  position: relative;
}

.navItem {
  margin-top: 5px;
}

.navItem:hover .altFont {
  color: #9e9e9e;
}

.navItem:hover .navFont {
  color: #e0e0e0;
}

.navItem:hover .previewCard {
  transform: translateY(0);
  /* Move into view */
}

.previewCard {
  background-color: #e0e0e0;
  border-radius: 15px;
  box-sizing: border-box;
  color: #212121;
  height: 100%;
  left: 0;
  position: absolute;
  padding-left: 5%;
  padding-right: 5%;
  /* top: 90vh; */
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1); /* Adjust as needed */
  transform: translateY(7.5vh);
  will-change: transform; /* Optimize for smoother animations */
  width: 100%;
  z-index: 10;
}

.previewTitle {
  font-size: 26px;
}
