.altFont {
  transition: color 0.25s;
  color: #9e9e9e;
}

.altFont:hover {
  color: #9e9e9e;
}

.navFont {
  transition: color 0.25s;
  color: #e0e0e0;
}

.navBody {
  background-color: blue;
  list-style-type: none;
  width: 8rem;
  padding: 0;
}

.navBody:hover .altFont {
  color: #717171;
}

.navBody:hover .navFont {
  color: #a1a1a1;
}

.navItem {
  margin-top: 5px;
  position: relative;
}

.navItem:hover .altFont {
  color: #9e9e9e;
}

.navItem:hover .navFont {
  color: #e0e0e0;
}

.navItem:hover .previewCard {
  bottom: -70vh;
}

.previewCard {
  position: absolute;
  bottom: -100vh;
  width: 70vw;
  height: 100%;
  background-color: #e0e0e0;
  transition: bottom 0.5s ease-in-out;
}
